body {
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

/* Botões para formlários */
.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 16px;
  border: none;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fafafa;
}

.btn:hover {
  filter: brightness(90%);
  /* color: #00000094 ; */
  transition: all 0.2s ease-in-out;
}

.btn.cadastrar {
  background-color: #88c946;
}

.btn.editar {
  background-color: #ffed78;
}

.btn.excluir {
  background-color: #ef373f;
}

.btn.adcionar {
  background-color: #69d7f1;
  width: inherit;
  margin: 2rem 0;
}

.btn>img {
  filter: invert(1) brightness(100);
}

/* 
.btn:hover > img {
    filter: invert(0) brightness(40);
    transition: all 0.1s ease-in-out;
} */

.image_preview {
  max-width: 100%;
  /* Largura máxima da imagem */
  height: 48px;
  /* Altura fixa, ajuste conforme necessário */
  object-fit: cover;
  /* Corta a imagem, mostrando apenas o centro */
  cursor: pointer;
  /* Muda o cursor para indicar que é clicável */
  flex: 1;
  border-radius: .5rem;
}



div#dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}

div#dashboard>aside {
  width: 12rem;
  padding: .5rem;
  border-right: 1px solid #b6b2b257;
  cursor: pointer;
  /* Transições para largura e opacidade */
  transition: width .6s ease-in-out,
    opacity 3s ease-in-out,
    padding .6s ease-in-out;

}

div#dashboard>aside.colapse {
  width: 4rem;
  padding: 0;
  overflow: hidden;
}

div#dashboard>aside.colapse ul {
  opacity: 0;
}

div#dashboard>main {
  width: 100%;
  padding: 0 1rem;
}

div#dashboard>main>h2 {
  font-size: 28px;
  text-transform: uppercase;

}

form.revestimento, form.acabamento {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form.revestimento div, form.acabamento div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 .2rem;
  gap: 1rem;
}

form.revestimento input, form.acabamento input {
  flex-grow: 1;
  padding: .4rem;
  margin: auto;

}

.collapse {
	height: 0px;
	overflow: hidden;
	transition: height 0.8s;
}

h4:active + .collapse {
	height: 200px;
}

#search-bar {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  padding: 0 2rem;
  align-items: center;
  flex: 1;
  border-radius: .5rem;
}
#search-bar:focus-within {
  outline: 2px solid blue;
}

#search-bar input {
  outline-style: none;
  background-color: transparent;
  flex: 1;
}



#search-bar img {
  filter: grayscale(100%) brightness(0) invert(70%);
}